<a href='/' id='h3-inactive'>Home ></a><a href='/userprofile' id='h3-inactive'>My profile ></a><a href='/myorders' id='h3-active'>My orders</a>
{{#if myOrders}}
{{#each myOrders}}
    <h4>Order number: {{_id}}</h4>
    <a href='/myorders/{{_id}}'>
      <div class='product-line'></div>
        <img src='{{this.productId.[0].pictureURL.[0]}}'>    
        <p>{{this.productId.[0].productName}}</p>
      </div>
      <h4>Total: {{total}}€</h4>
  </a>
{{/each}}
{{else}}
You do not have any order.
{{/if}}