<a href='/' class='h3-inactive'>Home ></a><a href='/userprofile' class='h3-inactive'>My profile ></a><a href='/myorders' class='h3-active'>My orders</a>
<section id='my-orders'>
  {{#if myOrders}}
    {{#each myOrders}}
        <a class='order-number' href='/myorders/{{_id}}'><h5>Order #{{_id}}</h5></a>  
        <div class='product-line'>
            <a href='/myorders/{{_id}}'>
              <img src='{{this.productId.[0].pictureURL.[0]}}'>  
            </a>  
              <div class='productInfo'>
                <a href='/myorders/{{_id}}'>
                  <p>{{this.productId.[0].productName}}</p>
                </a>
                
                <p>{{formattedDate}}</p>
              </div>
              <p class='total'> {{total}}€</p>
             
      </div>

    {{/each}}
    {{else}}
    <div class='statement'>
      <p>
        You do not have any order.
      </p>
    </div>
    {{/if}}
</section>
