<a href='/' id='h3-inactive'>Home ></a><a href='/' id='h3-inactive'>My orders ></a><a href='/userprofile' id='h3-active'> Orders details</a>
<h4>Order number: {{theOrder}}</h4>
{{#each theOrder.productId}}
<div class='product-line'>
    <img src='{{this.pictureURL.[0]}}'>
    <h4>{{this.productName}}</h4>
    <p>{{this.price}}<br>
    {{this.size}}</p>
</div>
{{/each}}
<h4>Total: {{theOrder.total}}</h4>
</div>
