

{{!-- STILL NEED TO DO HTML--}}
<a href='/' class='h3-inactive'>Home ></a><a href='/userprofile' class='h3-active'> My profile</a>
<section id='userProfile'>

{{#if user}}

<h2>Personal Info</h2>
<section id='personal-info'>
  <img class='profile-pic' src='{{user.pictureURL}}'>
    <div class='info-title'>
      <p>Name:</p>
      <p>E-mail:</p>
      <p>Password:</p>
    </div>
    <div class='info-value'>
      <p>{{user.firstName}} {{user.lastName}}</p>
      <p>{{user.email}}</p>
      <p>**********</p>
    </div>

  <a href='/userprofile/edit'><img src='/images/icon/edit.png'></a>
  </section>

<div id='option-list'>
 <a href="/myorders" class='user-option'>My Orders</a>
  <div id='line'></div>
 <a href="/wishlist"class='user-option'>Wishlist</a>
  <div id='line'></div>
 <a href='/logout'class='user-option'>Log Out</a>
</div>


{{else}}
 <div class='statement'>
<p>Please <a href='/login'>Log in</a> or <a href='/signup'>Sign up</a> if you have not been part of the family yet!</p>
 </div> 
{{/if}}

</section>
