<a href='/' class='h3-inactive'>Home ></a><a href='/userprofile' class='h3-inactive'>My profile ></a><a href='/wishlist' class='h3-active'> Wishlist</a>
<section id='wishlist'>
{{#if theWishlist}}
  {{#each theWishlist}}
    <div class='product-line'>
        <a href='/products/{{_id}}'>
          <img class='product-img' src='{{this.pictureURL.[0]}}'>
        </a>
        <div class='productInfo'>
          <p>{{this.productName}}</p>
          <p>{{this.price}}€</p>
     
           </div>
    
          <a class='heart-link' href='/products/{{this._id}}/favorite'>
                <img class='heart' src='https://res.cloudinary.com/vanbaotran/image/upload/v1623145429/photos/heart-filled_njjmsq.png'>
        
        </a>

    </div>
  {{/each}}
{{else}}
<section class='statement'>
<p>Your wishlist is empty!</p>
</section>
{{/if}}
</section>