<section class='productDetails'>

<div class='topLine'>
    <a href='/'><h3 class='h3-inactive'>Shop></h3></a>
    <a href='/products'><h3 class='h3-inactive'>Products></h3></a>
    <a href='/products/{{theProduct._id}}'><h3 class='h3-active'>{{theProduct.productName}}</h3></a></div>
<div class = 'image'>
    <img class='active' src='{{theProduct.pictureURL.[0]}}'>
    <div class='smallDisplay'>
        <img class='inactive' src='{{theProduct.pictureURL.[1]}}'>
        <img class='inactive' src='{{theProduct.pictureURL.[2]}}'>
        <img class='inactive' src='{{theProduct.pictureURL.[3]}}'>
    </div>
   
</div>
<div class='productInfo'>
    <div class='sub-productInfo'>
        <h2 id='productName'>{{theProduct.productName}}</h2>
        <p class='productPrice'>{{theProduct.price}}€</p>
        <p class='productSize'>Size {{theProduct.size}}</p>
    </div>

    {{#if favorite}}
    <a href='/products/{{theProduct._id}}/favorite'>
        <div class='wishlist'>
            <img class='heart' src='https://res.cloudinary.com/vanbaotran/image/upload/v1623145429/photos/heart-filled_njjmsq.png'>
        </div>
    </a>
    {{else}}
    <a href='/products/{{theProduct._id}}/favorite'>
        <div class='wishlist'>
            <img class='heart' src='https://res.cloudinary.com/vanbaotran/image/upload/v1623145410/photos/heart_jmddcq.png'>
        </div>
    </a>
    {{/if}}

</div>

<a href='/{{theProduct._id}}/buynow'>
<button class='btn topBtn'>BUY NOW</button>
</a>
<a href='/{{theProduct._id}}/addtobag'>
<button class='btn bottomBtn'>ADD TO BAG</button>
</a>
<p class='productText'>Description: {{theProduct.description}}</p>
<p class='productText'>Measurements: {{theProduct.measurements}}</p>
{{#if isAdmin}}
<button><a href='/products/{{theProduct._id}}/edit'>
    Edit this post  
</a></button>
<button><a href='/products/{{theProduct._id}}/delete'>
    Delete this post  
</a></button>
{{/if}}

</section>