<h1>Edit this item</h1>
<form action='/products/{{theProduct._id}}/edit' method="POST" enctype="multipart/form-data">
<label>
    Product Name
    <input type='text' name='productName' value='{{theProduct.productName}}'>
</label>
<label>
    Description 
    <input type='text' name='description'value='{{theProduct.description}}'>
</label>
<label>
    Price 
    <input type='text' name='price' value='{{theProduct.price}}'>
</label>
<label>
    Size 
    <input type='text' name='size' value='{{theProduct.size}}'>
</label>
<label>
    Measurements 
    <input type='text' name='measurements' value='{{theProduct.measurements}}'>
</label>
<label>
    Photos:
    <img src="{{theProduct.pictureURL.[0]}}">
    <input type='file' name='pictureURL0'>
    <img src="{{theProduct.pictureURL.[1]}}">
    <input type='file' name='pictureURL1'>
    <img src="{{theProduct.pictureURL.[2]}}">
    <input type='file' name='pictureURL2'>
    <img src="{{theProduct.pictureURL.[3]}}">
    <input type='file' name='pictureURL3'>

</label>
<button>Edit this product</button>

{{#if errorMessage}}
{{errorMessage}}
{{/if}}
</form>